.tag {
    width: fit-content;
    padding: 0.5rem 1rem;
    background: rgb(134, 134, 134);
    color: #fff;
    border-radius: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 0.5rem;

}