.starContainer {
    max-width: 10rem;
    min-width: 2rem;
    height: fit-content;
    position: relative;
    /* background-color: red; */
}

.coverStart {

    position: absolute;
    height: 2rem;
    right: -20%;
    top: 0;
    background-color: #101e39;
}