.headerContainer {
    width: 100vw;
    height: 7rem;
    background-color: rgb(20, 20, 20, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
}

.headerContainer h1 {
    font-size: 3rem;
    color: #fff;
}